{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/detail-fair.css' %}">
{% endblock links %}

{% block title %}{{ fair.title }} - Ferias de empleo{% endblock title %}

{% block content %}
<div class="event-card-container flex">
  <div class="event-card">
    <div class="event-left">
      <!-- Imagen en la tarjeta -->
      <img src="{{ fair.image }}" alt="Imagen del evento" class="event-image" id="lightbox-image">
    </div>
    <div class="event-right">
      <h2 class="event-title">{{ fair.title }}</h2>
      <p class="event-description">
        {{ fair.description }}
      </p>
      <p class="event-call">¡Inscríbete ahora mismo!</p>
      <div style="display: flex; align-items: center; justify-content: center">
        <form class="fair_button" method="post" action="{% url 'management:favorite_fair' %}">
            {% csrf_token %}
          <input type="hidden" name="fair_id" value="{{ fair.id }}">
          <input type="hidden" name="fair_title" value="{{ fair.title }}">
          <input type="hidden" name="aspirant_id" value="{{ aspirant.id }}">

          <button class="btn-secondary" type="submit">Agregar Feria a Favoritas</button>
        </form>
      </div>
    </div>
    <div class="event-footer">
      <div class="event-info">
        <p><span class="event-label">Organizado por:</span> {{ fair.organizer.email }}</p>
        {% if fair.connection_link %}
          <p><span class="event-label">Link de conexión:</span> <a href="{{ fair.connection_link }}" target="blank">{{ fair.connection_link }}</a></p>
        {% endif %}
        <p><span class="event-label">Fecha: </span>Desde el {{ fair.start_event_date|date:"d M Y" }} hasta el {{ fair.end_event_date|date:"d M Y" }}</p>
        <p><span class="event-label">Hora: </span>Inicia a las {{ fair.start_hour }} finaliza a las {{ fair.end_hour }}</p>
        <p><span class="event-label">Ciudad:</span> {{fair.city}} - {{ fair.department }}</p>
        <p><span class="event-label">Dirección:</span> {{fair.direction}}</p>
        <p><span class="event-label">Ponente principal:</span> {{ fair.keynote_speaker }}</p>
        <p><span class="event-label">Número de personas inscritas:</span> {{ fair.number_of_registered }}</p>
      </div>
    </div>  
    {% if fair_registration %}
    <form class="event-button" method="get" action="{% url 'successful_inscription' fair_registration.id fair.title %}">
      {% csrf_token %}
      <button class="btn-primary" type="submit">Ver mi QR</button>
    </form>
    {% else %}
    <form class="event-button" method="post" action="{% url 'management:register_fair' fair.id %}">
      {% csrf_token %}
      <input type="hidden" name="fair_id" value="{{ fair.id }}">
      <button class="btn-primary" type="submit">¡Inscribirme!</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
