{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/detail-fair.css' %}">
<link rel="stylesheet" href="{% static 'css/Lightbox.css' %}">
{% endblock links %}

{% block title %}{{ fair.title }} - Ferias de empleo{% endblock title %}

{% block content %}
<div class="event-card-container flex">
  <div class="event-card">
    <div class="event-left">
      <!-- Imagen en la tarjeta -->
      <img src="{{ fair.image.url }}" alt="Imagen del evento" class="event-image" id="lightbox-image">
    </div>
    <div class="event-right">
      <h2 class="event-title">{{ fair.title }}</h2>
      <p class="event-description">
        {{ fair.description }}
      </p>
      <p class="event-call">¡Inscríbete ahora mismo!</p>
    </div>
    <div class="event-footer">
      <div class="event-info">
        <p><span class="event-label">Organizado por:</span> {{ fair.organizer.username }}</p>
        <p><span class="event-label">Fecha:</span> {{ fair.event_date|date:"d M Y" }}</p>
        <p><span class="event-label">Ubicación:</span> {{ fair.location }}</p>
        <p><span class="event-label">Ponente principal:</span> {{ fair.keynote_speaker }}</p>
      </div>
    </div>  
    <div class="event-button">
      <button class="btn-2">¡Inscribirme!</button>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
