{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

<link rel="stylesheet" href="{% static 'css/detail-fair.css' %}">
{% endblock links %}

{% block title %}{{ fair.title }} - Ferias de empleo{% endblock title %}

{% block content %}
<div class="event-card-container flex">
  <div class="event-card">
    <div class="event-left">
      <!-- Imagen en la tarjeta -->
      <img src="{{ fair.image.url }}" alt="Imagen del evento" class="event-image" id="lightbox-image">
    </div>
    <div class="event-right">
      <h2 class="event-title">{{ fair.title }}</h2>
      <p class="event-description">
        {{ fair.description }}
      </p>
      <p class="event-call">¡Inscríbete ahora mismo!</p>
    </div>
    <div class="event-footer">
      <div class="event-info">
          <p><span class="event-label">Organizado por:</span> {{ fair.organizer.username }}</p>
          <p><span class="event-label">Fecha:</span> {{ fair.event_date|date:"d M Y" }}</p>
          <p><span class="event-label">Ubicación:</span> {{ fair.location }}</p>
          <p><span class="event-label">Ponente principal:</span> {{ fair.keynote_speaker }}</p>
      </div>
    </div>  
    <form class="event-button"method="post" action="{% url 'register_fair'%}">
      {% csrf_token %}
      <input type="hidden" name="fair_title" value="{{ fair.title }}">
      <input type="hidden" name="aspirant_id" value="{{ aspirant.id }}">
      <button class="btn-2" type="submit">¡Inscribirme!</button>>
    </form>
  </div>
</div>

<!-- Lightbox Modal -->
<div id="lightbox" class="lightbox">
  <div class="lightbox-content">
    <span class="close">&times;</span>
    <div class="lightbox-caption" id="caption"></div>
    <img class="lightbox-image" id="lightbox-img">
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var lightbox = document.getElementById('lightbox');
    var lightboxImg = document.getElementById('lightbox-img');
    var caption = document.getElementById('caption');
    var close = document.getElementsByClassName('close')[0];
    
    document.getElementById('lightbox-image').onclick = function() {
      lightbox.style.display = 'flex'; // Mostrar lightbox
      lightboxImg.src = this.src;
      caption.innerHTML = this.alt;
    };

    close.onclick = function() {
      lightbox.style.display = 'none'; // Ocultar lightbox
    };

    window.onclick = function(event) {
      if (event.target == lightbox) {
        lightbox.style.display = 'none'; // Ocultar lightbox al hacer clic fuera
      }
    };
  });
</script>
{% endblock scripts %}