{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/hero-section.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/principal-content.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block title %}WorkSpyder - Ferias de empleo{% endblock title %}

{% block content %}
<div class="hero-section">
    <div class="hero-container">
        <div class="header">
            <h1>¿Buscando eventos?</h1>
            <form action="">
                <input type="search" placeholder="Encuentralos acá...">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
    <div class="glassy-overlay"></div>
    <canvas></canvas>
    <script src="{% static 'js/hero-section.js' %}"></script>
</div>
<div class="principal-content-container">
    <section class="main-container">
        Filtros
    </section>
    <section class="main-container fairs-principal-container flex">
        {% for fair in fairs %}
            <div class="card-fair">
                <div class="img-card-container">
                    <!-- Usa fair.image.url para acceder a la URL de la imagen cargada -->
                    <img src="{{ fair.image.url }}" alt="{{ fair.title }}">
                </div>
                <div class="data-card-container">
                    <h1>{{ fair.title }}</h1>
                    <p>{{ fair.event_date|date:"d M Y" }}</p>
                    <button class="btn-2" onclick="window.location.href='{% url 'fair' fair.id %}'">Inscribirme</button>
                </div>
            </div>
        {% empty %}
            <p>No hay ferias disponibles en este momento.</p>
        {% endfor %}
    </section>
</div>
{% endblock content %}
