{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="nav-container flex">
            <section class="nav-brand flex">
                <img src="{% static 'images/WorkSpyder-logo.svg' %}" alt="WorkSpyder">
                <h1>WorkSpyder</h1>
            </section>
            <div class="nav-right-elements flex">
                <a class="nav-event nav-btn" href="">
                    Pon tu evento en WorkSpyder
                </a>
                <button class="nav-user flex nav-btn">
                    <img src="{% static 'images/bars.svg' %}" alt="Menú">
                    <img class="user-img" src="{% static 'images/user-circle.svg' %}" alt="Usuario">
                </button>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <div class="footer-container flex">
            <section class="flex">
                <div class="footer-info-container flex">
                    <span>© 2024 WorkSpyder</span>
                    <span>·</span>
                    <a href="">Acerca de nosotros</a>
                </div>
                <div class="footer-social-media flex">
                    <a href=""><span class="mdi--github"></span></a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>