{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    {% block links %}{% endblock links %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="nav-container flex">
            <a href="{% url "view_fairs" %}">
                <section class="nav-brand flex">
                    <img src="{% static 'images/WorkSpyder-logo.svg' %}" alt="WorkSpyder">
                    <h1>WorkSpyder</h1>
                </section>
            </a>
            <div class="nav-right-elements flex">
                <a class="nav-event nav-btn" href="{% url 'post:post_home' %}">
                    Pon tu evento en WorkSpyder
                </a>
                <button class="nav-user flex nav-btn" onclick="toggleMenu()">
                    <img src="{% static 'images/bars.svg' %}" alt="Menú">
                    {% if user.is_authenticated %}
                        <img class="user-img" src="https://www.gravatar.com/avatar/{{ user.avatar }}?d=retro&f=y&s=128" alt="User Avatar">
                    {% else %}
                        <img class="user-img" src="{% static 'images/user-circle.svg' %}" alt="Usuario">
                    {% endif %}
                </button>
                
                <!-- Menú desplegable -->
                <div id="user-menu" class="user-menu hidden">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a>
                            <form method="POST" action="{% url 'auth:logout' %}">
                                {% csrf_token %}
                                <button type="submit">Cerrar sesión</button>
                            </form>
                        </a></li>
                        {% else %}
                        <li><a href="{% url "auth:login" %}">Iniciar Sesión</a></li>
                        <li><a href="{% url "auth:register" %}">Registrarse</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <div class="footer-container flex">
            <section class="flex">
                <div class="footer-info-container flex">
                    <span>© 2024 WorkSpyder</span>
                    <span>·</span>
                    <a href="">Acerca de nosotros</a>
                </div>
                <div class="footer-social-media flex">
                    <a href="https://github.com/JaraCalle/WorkSpyder"><span class="mdi--github"></span></a>
                </div>
            </section>
        </div>
    </footer>
</body>
<script>
    function toggleMenu() {
        const menu = document.getElementById('user-menu');
        if (menu) {
            menu.classList.toggle('show'); // Alterna entre mostrar y ocultar el menú
        } else {
            console.error("El menú no fue encontrado.");
        }
    }
    
    // Cerrar el menú si se hace clic fuera de él
    window.onclick = function(event) {
        const menu = document.getElementById('user-menu');
        if (menu && !menu.contains(event.target) && !event.target.matches('.nav-user, .nav-user *')) {
            menu.classList.remove('show');
        }
    }
</script>
{% block scripts %}{% endblock scripts %}
</html>
