.fairs-manager-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fairs-manager-container h1 {
    font-weight: var(--medium-weight);
    text-align: center;
}

.fairs-manager-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fairs-list {
    display: flex;
    gap: 10px;
}

#my_fairs {
    justify-content: center;
    align-items: start;
}

.single-fair {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--light-white);
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .single-fair {
        flex-direction: column;
        gap: 0;
    }
}

.single-fair h2 {
    font-weight: var(--medium-weight);
}

.single-fair img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
}