.fairs-manager-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fairs-manager-container h1 {
    font-weight: var(--medium-weight);
    text-align: center;
}

.fairs-manager-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fairs-list {
    display: flex;
    gap: 10px;
}

#my_fairs {
    justify-content: center;
    align-items: center;
}

.single-fair {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--light-white);
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .single-fair {
        flex-direction: column;
        gap: 0;
    }
}

.single-fair h2 {
    font-weight: var(--medium-weight);
}

.single-fair img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
}

/* Estilo general del contenedor principal */
#my-fairs-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales para pantallas grandes */
    gap: 20px;
    padding: 20px;
}

/* Para centrar el tercer elemento en la fila de abajo en pantallas grandes */
#my-fairs-container > *:nth-child(3) {
    grid-column: 1 / -1; /* Hace que el tercer contenedor ocupe toda la fila */
    justify-self: center; /* Lo centra horizontalmente */
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #my-fairs-container {
        grid-template-columns: 1fr; /* Cambia a una columna */
    }
}
