/* CSS para el lightbox */
.lightbox {
  display: none; /* Inicialmente oculto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex; /* Para centrar el contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.lightbox-content {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.lightbox-caption {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: black; /* Cambia a blanco si prefieres el texto blanco */
}

.lightbox-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black; /* Cambia a blanco si prefieres el botón blanco */
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
