{% extends "base.html" %}
{% load qr_code %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/detail-fair.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/principal-content.css' %}">
{% endblock links %}

{% block content %}
<div class="event-card-container flex">
    <div class="event-card form-container" id="qr-container">
        <h1>Te inscribiste correctamente a:</h1>
        <h2>{{ fair_title }}</h2>
        {% qr_from_text qr_url size="M" %}
        <p class="disclaimer-p">Recuerda no compartir este QR con nadie más</p>
        <div>
            <button class="btn-primary">
                <a href="{% url 'view_fairs' %}">Seguir viendo ferias</a>
            </button>
        </div>
    </div>
</div>


{% endblock content %}
