{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock links %}

{% block content %}
<div class="event-card-container flex" style="height: 80vh;">
    <div class="event-card form-container">
        <h1>Inicio de sesión</h1>
        <form class="form" method="post">  
            {% csrf_token %}
            {{ form.as_p}}
        
            <button type="submit" id="submit" class="btn-primary">Iniciar sesión</button>
        </form>
        <p class="disclaimer-p">Si no tienes cuenta, registrate acá</p>
        <a href="{% url "auth:register" %}"><button type="submit" id="submit" class="btn-secondary">Registrarse</button></a>
    </div>
</div>
{% endblock content %}