{% extends "base.html" %}

{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/principal-content.css' %}">
	<link rel="stylesheet" href="{% static 'css/fairs-manager.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{% static "js/populate/colombia.js" %}"></script>
{% endblock links %}

{% block title %}WorkSpyder - Editar Feria{% endblock title %}

{% block content %}
<div class="principal-content-container">
	<form method="post">
		{% csrf_token %}
		<section class="main-container fairs-principal-container flex">
			{% for feria in ferias %}
			<div>
				<div class="card-fair">
					<div class="img-card-container">
						<img src="{{ feria.image }}" alt="{{ fair.title }}">
					</div>
					<div class="data-card-container">
						<h1>{{ feria.title }}</h1>
						<p>{{ feria.organizer }}</p>
					</div>
					<div class="radio-input-container">
						<input class="option-input radio" type="radio" name="selected_fair" value="{{ feria.id }}" {% if feria == selected_feria %}checked{% endif %} required>
					</div>
				</div>
			</div>
			{% endfor %}
			<button type="submit" class="btn-secondary">Seleccionar Feria</button>
		</section>
	</form>
	{% if form %}
	<section class="main-container form-container" id="edit-fair-form">
		<h1>Editar una feria</h1>
		<div>
			<form method="post" enctype="multipart/form-data">
				<div>
					{% csrf_token %}
					{{ form.as_p }}
				</div>
				<!-- Contenedor para la previsualización de la imagen -->
				<div id="image-preview-container" style="margin-top: 15px; display:flex; justify-content:center;">
					<img 
						id="image-preview" 
						src="{{ form.instance.image }}" 
						alt="Previsualización de la imagen" 
						style="display: {{ form.instance.image }}; max-width: 100%; height: auto; border-radius: 15px; padding: 5px;"
					>
				</div>
				<button type="submit" class="btn-primary">¡Publicar!</button>
			</form>
		</div>
	</section>
	{% endif %}
</div>
{% endblock content %}

{% block script %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const imageInput = document.querySelector('input[type="file"]');
			const imagePreview = document.getElementById('image-preview');

			imageInput.addEventListener('change', function () {
				const file = imageInput.files[0];
				if (file) {
					const reader = new FileReader();
					reader.onload = function (e) {
						imagePreview.src = e.target.result;
						imagePreview.style.display = 'block';
					};
					reader.readAsDataURL(file);
				} else {
					imagePreview.style.display = 'none';
				}
			});
		});
	</script>
{% endblock script %}