{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/principal-content.css' %}">
<link rel="stylesheet" href="{% static 'css/fairs-manager.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block title %}WorkSpyder - Mis ferias{% endblock title %}

{% block content %}
<div class="principal-content-container" id="my-fairs-container">
    {% if ferias %}
        <section class="main-container fairs-manager-container" id="my_fairs">
            <h1>Tus ferias publicadas</h1>
            <div class="optionSelect">
                <ul class="fairs-list">
                    {% for fair in ferias %}
                    <li>
                        <div class="single-fair">
                            <img src="{{ fair.image.url }}" alt="Imagen del evento">
                            <div>
                                <h2>{{ fair.title }}</h2>
                                <p>{{fair.city}} - {{ fair.department }}</p>
                            </div>
                            <div>
                                <button class="btn-secondary" onclick="window.location.href='{% url 'post:view_registered_fair' fair.id %}'">Ver inscritos</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% else %}
    <section class="main-container fairs-manager-container">
        <p>No has publicado ningún evento o feria todavia.</p>
    </section>
    {% endif %}
    {% if favorites %}
        <section class="main-container fairs-manager-container" id="favorite_fairs">
            <h1>Mis Ferias Favoritas</h1>
            <div class="optionSelect">
                <ul class="fairs-list">
                    {% for favorite in favorites %}
                    <li>
                        <div class="single-fair">
                            <img src="{{ favorite.fair.image.url }}" alt="Imagen del evento">
                            <div>
                                <h2>{{ favorite.fair.title }}</h2>
                                <p>{{favorite.fair.city}} - {{ favorite.fair.department }}</p>
                            </div>
                            <div>
                                <button class="btn-primary" onclick="window.location.href='{% url 'fair' favorite.fair.id %}'">Ver Feria</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    {% if fairs_registration %}
        <section class="main-container fairs-manager-container">
            <h1>Ferias a las que te has inscrito</h1>
            <div class="optionSelect">
                <ul class="fairs-list">
                    {% for fair_register in fairs_registration %}
                    <li>
                        <div class="single-fair">
                            <img src="{{ fair_register.fair.image.url }}" alt="Imagen del evento">
                            <div>
                                <h2>{{ fair_register.fair.title }}</h2>
                                <p>{{fair_register.fair.city}} - {{ fair_register.fair.department }}</p>
                            </div>
                            <div>
                                <button class="btn-secondary" onclick="window.location.href='{% url 'successful_inscription' fair_register.id fair_register.fair.title %}'">Ver QR</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% else %}
        <section class="main-container fairs-manager-container">
            <p>No te has inscrito a ninguna feria todavia.</p>
        </section>
    {% endif %}
</div>
{% endblock %}
