{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/principal-content.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/fairs-manager.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock links %}

{% block title %}WorkSpyder - Inscritos a {{ fair.title }}{% endblock title %}

{% block content %}
<div class="principal-content-container" style="height: 80vh;">
  <section class="main-container fairs-manager-container" id="my_fairs">
    <h1>{{ fair.title }}</h1>
    <table>
      <thead>
        <tr>
          <th>Aspirante</th>
          <th>Asistencia Marcada</th>
        </tr>
      </thead>
      <tbody>
        {% for registered in registers %}
          <tr>
            <td>{{ registered.registration.aspirant }}</td>
            <td>{{ registered.isRead|yesno:"✅,⛔" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  </div>
{% endblock %}